nav {
    background: #fff;
    box-shadow: 0 10px 25px rgb(0 0 0 / 30%), 0 20px 48px rgb(0 0 0 / 16%), 0 1px 4px rgb(0 0 0 / 12%);
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 10;
}

nav > div {
    display: flex;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    align-items: stretch;
    display: flex;
}

.nav-left li {
    display: flex;
}

.nav-left a {
    border-right: 1px solid #0F1010;
    color: #0F1010;
    padding:12px 20px;
    transition: all 250ms;
}

.nav-left a:hover {
    background: #0F1010;
    color: #fff;
}

.nav-right button {
    margin-left: 10px;
}

.nav-right button:first-child {
    background: #fff;
    color: #0F1010;
}

.nav-right button:first-child:hover {
    border: 1px solid #E916C7;
    color: #E916C7;
}

.nav-right button:last-child {
    background: #fff;
    border: none;
    color: #0F1010;
    padding: 0;
}

.nav-right button:last-child:hover {
    color: #E916C7;
}

.nav-right li {
    display: flex;
    position: relative;
}

.active {
    color: #000;
}

.nav-logo a {
    background: #E916C7;
    color: #fff;
    display: flex;
}

.nav-logo a:hover {
    background: #E916C7;
    color: #fff;
}

.profile-btn {
    /* align-items: center; */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border: none;
    border-radius: 50%;
    /* display: flex; */
    /* font-size: 34px; */
    padding: 0;
    position: relative;
    transition: all 250ms;
    z-index: 1;

    height: 34px;
    width: 34px;
}

.profile-btn:hover {
    border: none !important;
    color: #0F1010 !important;
    transform: scale(1.10);
}

.profile-dropdown {
    align-items: flex-start;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 10px 25px rgb(0 0 0 / 30%), 0 20px 48px rgb(0 0 0 / 16%), 0 1px 4px rgb(0 0 0 / 12%);
    display: flex;
    flex-direction: column;
    padding: 16px;
    position: absolute;
    right: 0;
    top: 46px;
}

.profile-dropdown li {
    margin-top: 10px;
}

.profile-dropdown button {
    font-size: 16px;
    margin: 0;
}

.profile-dropdown button:hover {
    border: none !important;
}

.profile-dropdown a {
    color: #0F1010;
    transition: all 250ms;
}

.profile-dropdown a:hover {
    color: #E916C7;
}

/* --- Media queries below --- */

@media screen and (max-width: 1260px) {
    nav {
        padding-right: 20px;
    }
}
